---
layout: default
title: Skills
weight: 4
permalink: /skills/
---

<div class="row">
    {% include about/skills.html title="Game Development" source=site.data.skills.game-development %}
    {% include about/skills.html title="Game Design" source=site.data.skills.game-design %}
</div>

<div class="row">
    {% include about/skills.html title="Computer Graphics" source=site.data.skills.computer-graphics %}
    {% include about/skills.html title="UI/UX" source=site.data.skills.ui-ux %}
</div>

{% include about/skills.html title="Languages" source=site.data.skills.languages %}
